/* Por defecto, el botón está oculto */
body{
    color: rgb(230, 229, 229);
    background-color: rgb(99, 98, 98);
  }
  
  
  
  .inv-btn {
      display: none;
    }
    
    .list-group-item:hover .inv-btn {
      display: inline-block;
    }